<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517187371088-kdhdverke6tb3cqivrkb101fc983rlmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517187371088-kdhdverke6tb3cqivrkb101fc983rlmt</string>
	<key>API_KEY</key>
	<string>AIzaSyAyAZfBY22WI6Y3hKXz1604qCpoC16t-I4</string>
	<key>GCM_SENDER_ID</key>
	<string>517187371088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.juegoSumas</string>
	<key>PROJECT_ID</key>
	<string>juegosumas-93788</string>
	<key>STORAGE_BUCKET</key>
	<string>juegosumas-93788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517187371088:ios:7c09ac8faee77e52de9155</string>
	<key>DATABASE_URL</key>
	<string>https://juegosumas-93788.firebaseio.com</string>
</dict>
</plist>